    body {
        padding: 0;
        margin: 0;
        background-color: rgb(0, 0, 0);
    }
    
    h1 {
        text-align: center;
        color: white;
        text-shadow: 0px 0px 10px white, 0px 0px 20px white, 0px 0px 40px white;
    }
    
    div {
        text-align: center;
        font-size: 30px;
    }
    
    label {
        display: block;
        color: white;
        text-shadow: 0px 0px 10px white, 0px 0px 20px white, 0px 0px 40px white;
    }
    
    input {
        width: 250px;
        height: 30px;
        border-radius: 20px;
        text-transform: lowercase;
        text-align: center;
        font-size: 20px;
    }
    
    select {
        width: 250px;
        height: 30px;
        font-size: 20px;
        text-align: center;
    }
    
    .ok {
        font-size: 20px;
        text-align: center;
    }
    
    .button {
        margin-left: 200px;
        margin-top: 30px;
        width: 150px;
        height: 70px;
        border-radius: 50px;
        background-color: sandybrown;
    }
    
    a {
        display: inline;
        color: white;
        font-size: 20px;
        color: white;
        text-decoration: none;
        background-color: red;
        width: 100px;
        border: 2px white solid;
    }